<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz App</title> 
</head>
<body>
    <header>
        <a href="/create-quiz">Create Quiz</a>
        <a href="/all-quizzes">Quizzes</a>
        <a href="/all-questions">Questions</a>
        <a href="/find-quiz">Quiz Categories</a>
        <a href="/">Home</a>
    </header>
    <h1>Quiz App</h1>
</body>
</html>