<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/quizzes.css">
    <title>Quiz App</title>
</head>

<body>
    <header>
        <a href="/create-quiz">Create Quiz</a>
        <a href="/all-quizzes">All Quizzes</a>
        <a href="/all-questions">All Questions</a>
        <a href="/find-quiz">Search Quiz</a>
        <a href="/">Home</a>
    </header>
    <h1>Quizzes</h1>
    <div id="quiz-content"></div>

</body>
</html>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const quizContent = document.getElementById('quiz-content');
        fetch('http://localhost:3000/allquizzes').then(res => res.json()).then(data => {
            console.log(data);
            data.quizzes.forEach(quiz => {
                quizContent.innerHTML += `
                    <div class="quiz-card">
                        <h2>${quiz.name}</h2>
                        <p>${quiz.category}</p>
                        <p>${quiz.author}</p>
                        <p>${quiz.questions.length} questions</p>
                        <a href="/getQuizById?id=${quiz._id}">Start Quiz</a>
                    </div>
                `;
            });
        });
    });
</script>
